user              <%= node['nginx']['user']['name'] %> <%= node['nginx']['user']['group'] %>;
worker_processes  <%= node['nginx']['conf']['worker_processes'] %>;

error_log         <%= node['nginx']['conf']['error_log'] %>;

pid        /var/run/nginx.pid;


events {
    use  epoll;
    worker_connections  1024;
}


http {
    passenger_root        <%= @passenger_root %>;
    passenger_ruby        <%= @passenger_ruby %>;

    include               mime.types;
    default_type          application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log         <%= node['nginx']['conf']['access_log'] %>;

    sendfile              on;
    #tcp_nopush           on;

    keepalive_timeout     5;

    gzip  on;
    gzip_disable          "msie6";
    gzip_comp_level       9;
    gzip_proxied          any;
    gzip_types            text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript application/json;
    gzip_vary             on;

    server_names_hash_bucket_size  64;

    include <%= node['nginx']['path'] %>/sites-enabled/*;
}
